body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 20px;
}

.movie {
  cursor: pointer;
}

.movie img {
  width: 100%;
  border-radius: 8px;
}
